<section>
  <h1>Tags</h1>
  {{#each tags}}
  <div class="block tags">
    <h2>tag: {{name}}</h2>
    <ul class="list">
      {{#each .}}
      <li><a href="{{basename}}">{{uppercase name}}</a></li>
      {{/each}}
    </ul>
  </div>
  {{/each}}

  <div class="nav">
    <span><a href="{{relative "./tags" pagination.firstUrl}}">|&lt;</a></span>
    <span><a href="{{relative "./tags" pagination.prevUrl}}">&lt;&lt;</a></span>
    <span><a href="{{relative "./tags" pagination.nextUrl}}">&gt;&gt;</a></span>
    <span><a href="{{relative "./tags" pagination.lastUrl}}">&gt;|</a></span>
  </div>
</section>
